@model sonmarket.DTO.PromocaoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Editar promoção</h3>
<hr/>

<form method="POST" asp-controller="Promocoes" asp-action="Atualizar">
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da promoção">
    <span asp-validation-for="Nome"></span><br>
    <label asp-for="ProdutoID">Produto</label>
    <select class="form-control" asp-for="ProdutoID" asp-items='@(new SelectList(@ViewBag.Produtos,"Id","Nome"))'></select>
    <br>
    <label asp-for="Porcentagem">Porcentagem</label><br>
    <input type="number" min="0" max="100" asp-for="Porcentagem" placeholder="10%" class="form-control"><br>
    <button class="btn btn-success">Atualizar</button>
</form>